.film-info{
    text-align: left;
    padding-top: 14px;
}

.film-name{
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;

}

.film-year{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.film-description{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
}
