.main-nav {
    height: 70px;
    color:black;
    font-weight: 900;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo-text {
    color: black;
    a {
        font-style: normal;
        color: black;
        &:hover{
            text-decoration: none;
        color: unset;
        }   
    }
}

.nav-link {
    font-size: 18px;
    font-style: normal;
    color: #000000;
    


    &.active {
        font-weight: bold;
        color: #000000;
    }
    &:hover{
        color: #000000;
    }
}

.text-logout{
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
   
}

   