.main-nav {
    height: 70px;
    color:black;
    font-weight: 900;
    align-items: center;
    padding-left: 40px;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo-text {
    color: black;
    a {
        font-style: normal;
        color: black;
        &:hover{
            text-decoration: none;
        color: unset;
        }
        
    }
    

}

   